/* 背景 */
#haikei {
	margin: 0 auto;
	position: relative;
	background: url('images/haikei.png') no-repeat 0 0;
	width: 480px;
	height: 360px;
}



/*
 * アニメパーツ
 */

/* 猫 */
#neko {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	z-index:50;
	position: absolute;
	background-image: url('images/neko.png');
	background-repeat: no-repeat;
	width: 100px;
	height: 120px;
	top: 133px;
	left: 290px;
}

/* ポスター */
#poster {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	z-index:10;
	position: absolute;
	background-image: url('images/poster.png');
	background-repeat: no-repeat;
	width: 135px;
	height: 145px;
	top: 40px;
	left: 330px;
}

/* 賢治さん */
#kenjisan {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	z-index:60;
	position: absolute;
	background-image: url('images/kenjisan.png');
	background-repeat: no-repeat;
	width: 55px;
	height: 77px;
	top: 79px;
	left: 80px;
}

/* 時計 */
#clock {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	z-index:70;
	position: absolute;
	background-image: url('images/tokei.png');
	background-repeat: no-repeat;
	width: 110px;
	height: 55px;
	top: 30px;
	left: 150px;
}

/* 書類 */
#paper {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	z-index:90;
	position: absolute;
	background-image: url('images/paper.png');
	background-repeat: no-repeat;
	width: 90px;
	height: 110px;
	top: 220px;
	left: 300px;
}

/* 案内 */
#annai {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	z-index:80;
	position: absolute;
	background-image: url('images/annai.png');
	background-repeat: no-repeat;
	width: 150px;
	height: 70px;
	top: 240px;
	left: 120px;
}


/*
 * 猫のコメント枠
 */
#hukidasi {
	position: absolute;
	background-image: url('images/hukidasi.png');
	background-repeat: no-repeat;
	z-index:100;
	width: 280px;
	height: 150px;
	top: 30px;
	left: 50px;
	display: none;
}
#hukidasi p {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 35px;
	overflow: hidden;
}


/*
 * フッターデザイン
 */		
#footer {
	padding-top: 1em;
	background-color: gray;
	text-align: right;
}

